.container {
    width: 40%;
    margin: auto;
}

.display-container {
    margin: 30px;
}

.display {
    width: 100%;
    min-height: 50px;
    font-size: 36px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}
